@charset "UTF-8";
/* CSS Document */

.toc { padding: 0; margin: 0; font-size: 18px; list-style: none;}
.nav li a {display: block;padding: 16px 0 13px 20px;text-decoration: none;}
.nav li a[href="#Compendium"] { border-color:#DAD79A;}
.nav li a[href="#InsideDentistry"] {border-color:#C30;}
.nav li a[href="#InsideDentalTechnology"] {border-color:#F30;}
.nav li a[href="#InsideDentalProducts"] {border-color:#900;}
.nav li a[href="#Compendium"]:hover{color: #DAD79A;}
.nav li a[href="#InsideDentistry"]:hover{color: #C30;}
.nav li a[href="#InsideDentalTechnology"]:hover{color: #F30;}
.nav li a[href="#InsideDentalProducts"]:hover{color: #900;}
.nav li.active a[href="#Compendium"]:hover, .nav li.active a[href="#InsideDentistry"]:hover, .nav li.active a[href="#InsideDentalTechnology"]:hover {color:#000;}
.nav ul.nav {display: none;}
.nav ul.nav li a {padding:10px 0 10px 20px;}
li.active a {border: none;padding-left: 20px;display:block;}
li.active a[href="#Compendium"]{background: #DAD79A;}
li.active a[href="#InsideDentistry"]{background: #C30;}
li.active a[href="#InsideDentalTechnology"]{background: #F30;}
li.active a[href="#InsideDentalProducts"]{background: #900;}
li.active a:hover{ color:#CACACA;}
li.active > .nav {display: block;list-style:none;padding:0;font-size:16px;}
li.active > ul li {padding-left: 15px;	}
li.active li.active > a {/*color:#222;*/}
li.active li.active > .nav {padding: 0 0 0 20px;font-size: 14px;}
li.active li.active .nav > li a {padding:5px 0 5px 20px;}
li.active li.active li.active > a {color: #A9A9A9;font-weight:bold;}

